.footer {
  min-height: 100px;
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
  background: #ba7487;
  color: #e5e5e5;
  justify-content: center;
  text-align: center;
}
